<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">Cosa facciamo?</h2>
        <p class="intro">
        	Piccole Variabili aiuta grandi e piccini ad avvicinarsi in maniera divertente alla programmazione e a vivere da protagonisti il proprio futuro.
        </p>
        <p class="intro">
        	Il nostro progetto principale è quello di sostenere <a href="http://www.coderdojomilano.it/" target="_blank">CoderDojo Milano</a>.<br />
        	 <a href="https://coderdojo.com/" target="_blank">CoderDojo</a> è un'iniziativa gratuita che si propone di insegnare ai giovani a programmare in maniera divertente. L'obiettivo di CoderDojo è quello di fornire ai giovani le competenze utili ad affrontare le sfide che li accompagneranno nel corso della loro crescita e che oggi nessuno è in grado di prevedere.
        </p>
        <p class="intro">
        	Gli incontri sono aperti a tutti i giovani di età compresa tra i 7 e 17 anni e promuovono l'apprendimento in maniera esperienziale privilegiando metodologie didattiche non tradizionali che hanno al centro il ragazzo e il gruppo come occasione di apprendimento.
        </p>
        <p class="intro">
        	Scopri tutti i dettagli sul sito dedicato di <a href="http://www.coderdojomilano.it/" target="_blank">CoderDojo Milano</a>.
        </p>
    </div><!--//container-->
</section><!--//about-->