<section id="associazione" class="associazione section">
    <div class="container">
        <div class="associazione-inner">
        <h2 class="title text-center">Consiglio Direttivo</h2>            
        <div class="block">
            <div class="code-block">
                <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                <pre>
                    <code class="language-markup">
/*   
 * Il Consiglio Direttivo è così composto:
 */

&lt;p class="Presidente"&gt;
  Angelo Sala
&lt;/p&gt;

&lt;p class="Vice Presidente"&gt;
  Giampiero Baggiani
&lt;/p&gt;

&lt;p class="Tesoriere"&gt;
  Stefano Panzera
&lt;/p&gt;

&lt;p class="Segretario"&gt;
  Roberto Previtera
&lt;/p&gt;

&lt;p class="Consigliere"&gt;
  Orit Meytsar
&lt;/p&gt;
                    </code>
                </pre>
            </div><!--//code-block-->
        </div><!--//block-->

        <div class="block">
            <h3 class="sub-title text-center">Statuto</h3>
            <p>Gli obiettivi di piccole variabili sono descritti nel nostro statuto, ma possono essere così riassunti:</p>
            <div class="cta-container">
                <div class="speech-bubble">
                    <p class="intro">Vogliamo aiutare le persone a vivere bene il rapporto con le nuove tecnologie nella veste di protagonisti attivi e non di soli fruitori passivi.</p>
                </div><!--//speech-bubble-->
            </div><!--//cta-container-->
            <p class="text-center">
                <a class="btn btn-cta-primary" href="statuto.html">Leggi lo statuto</a>
            </p>
        </div><!--//block-->
        
        </div><!--//associazione-inner-->         
    </div><!--//container-->
</section><!--//associazione-->