<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="btn-container text-center">
            <h2 class="title  text-center">Contattaci</h2>
            <p class="intro">Se vuoi collaborare con noi, richiedere informazioni o altro...</p>
            <p>
                <a class="btn btn-cta-primary" href="mailto:info@piccolevariabili.it">Scrivici!</a>
            </p>
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->