<section id="sostienici" class="default section">
    <div class="container">
        <div class="default-inner">
            <h2 class="title text-center">Sostienici!</h2>
            <div class="cta-container text-center">
                <div class="block icon-holder">
                    <i class="fa fa-smile-o"></i>
                </div>
                <div class="btn-container">
                    <!--PayPal starts-->
                    <div class="block">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick"><br>
                            <input type="hidden" name="hosted_button_id" value="6J3HU6SEHLX42"><p></p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><input type="hidden" name="on0" value="Codice Fiscale o P.IVA">Codice Fiscale o P.IVA</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="os0" maxlength="200"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online."><br>
                                <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1"><br>
                            </p>
                        </form>
                    </div>
                    <!--//PayPal ends-->

                    <div class="block">
                        <a class="btn btn-cta-primary" href="diventa-socio.html">Diventa Socio</a>
                    </div>
                    <div class="block">
                        <a class="btn btn-cta-primary scrollto" href="#contact">Collabora</a>
                    </div>
                    <div class="block">
                        <a class="btn" href="donazioni.html">Altre opzioni e informazioni</a>
                    </div>
                </div><!--//btn-container-->
            </div><!--//cta-container-->
        </div><!--//default-inner-->
    </div><!--//container-->
</section><!--//sostienici-->
