<section id="sostienici" class="default section">
    <div class="container">
        <div class="default-inner">
            <h2 class="title text-center">Sostienici!</h2>
            <div class="cta-container text-center">
                <div class="block icon-holder">
                    <i class="fa fa-smile-o"></i>
                </div>
                <div class="btn-container">
                    <!--PayPal starts-->
                    <div class="block">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" onsubmit="return CheckForm(this);">
                            <!--
                            <table>
                                <tbody>
                                    <tr>
                                        <td><input type="hidden" name="on0" value="Codice Fiscale o P.IVA">Codice Fiscale o P.IVA</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" maxlength="200" name="os0"></td>
                                    </tr>
                                </tbody>
                            </table>
                            -->
                            <input type="image" alt="PayPal - Il metodo rapido, affidabile e innovativo per pagare e farsi pagare." name="submit" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif">
                            <img alt="" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1" border="0">
                            <input type="hidden" name="cmd" value="_donations">
                            <input type="hidden" name="business" value="9ZDPZYYAXYPV4">
                            <input type="hidden" name="lc" value="IT">

                            <input type="hidden" name="item_name" value="Donazione a favore dell'Associazione Piccole Variabili">
                            <input type="hidden" name="button_subtype" value="services">
                            <input type="hidden" name="no_note" value="0">
                            <input type="hidden" name="cn" value="Aggiungi istruzioni speciali per il venditore:">
                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="rm" value="1">
                            <input type="hidden" name="return" value="http://www.piccolevariabili.it/conferma-transazione-donazione.html">
                            <input type="hidden" name="currency_code" value="EUR">
                            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted"></p>
                        </form>
                    </div>
                    <!--//PayPal ends-->
                    
                    <div class="block">
                        <a class="btn btn-cta-primary" href="diventa-socio.html">Diventa Socio</a>
                    </div>
                    <div class="block">
                        <a class="btn btn-cta-primary scrollto" href="#contact">Collabora</a>
                    </div>
                    <div class="block">
                        <a class="btn" href="donazioni.html">Altre opzioni e informazioni</a>
                    </div>
                </div><!--//btn-container-->
            </div><!--//cta-container-->
        </div><!--//default-inner-->
    </div><!--//container-->
</section><!--//sostienici-->