<!DOCTYPE html>
<!--[if IE 8]> <html lang="it" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="it" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="it"> <!--<![endif]-->  
    {% include head.html %}

    <body>
        {% include header.html %}
        <section id="" class="default section">
            <div class="container">
                <div class="default-inner">
                    {{ content }}
                </div><!--//default-inner-->
            </div><!--//container-->
        </section><!--//how-->
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
